.contactItem {
    display: flex;
    width: 50%;
    align-items: center;
}

.contactTxt {
    margin-left: 15px;
    font-family: 'Space Mono';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #4B6A9B;
}
 
#light .contactImg {
    filter:  grayscale(100%) brightness(36%) saturate(0%) contrast(1000%) invert(100%);
}

#light .contactTxt {
    color: white;
}


@media only screen and (max-width: 375px){
    .contactTxt {
        font-size: 13px
    }

    .contactItem {
        min-width: 100%;
    }
}
